@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@300&family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2? family = Roboto + Slab: wght @ 100 & family = Roboto: wght @ 300 & display = swap');

//fuentes
$fuente_principal:'Mulish', sans-serif;
$funete_titulo:'Cairo', sans-serif;
$heading-font:'Roboto Slab', serif;

// Tamaño de Media Queries
$telefono: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$accent-color:#afb1a53a;
$azul: #bce2f52a;
$rojo: #cb0000;
$verde:#329f00;
$negro: #1a1b15ea;
$fondo:#03256c;
$rosa:#f713ab;
$blanco: #FFFFFF;
$gris: #e1e1e1;


$separacion: 5rem;

// Fuentes
$delgada: 300;
$regular : 400;
$bold: 700;
$black: 900