@use 'base/variables' as v;
@use 'base/mixins' as m;

.services{

    text-align: center;
    position: relative;
    height: 60rem;
    .animacionClick{
      position: absolute;
      top: 0rem;
      svg{
        height: 22%;
      }
      
    }
  
   // display: flex;
    //justify-items: center;
    &-title{
      width: 40%;
      background-color: rgba(185, 185, 185, 0);
      text-align: center;
      margin: 1rem auto;
      

     
      @include m.tablet{
        font-size: 5rem;
        margin: 0 auto;          
      }
    @include m.desktop{
        font-size: 5.8rem; 
        margin: 0 auto;
    }
    }
    &-type{
     
        display: flex;
        align-items: center;
        position: absolute;
        top: 14rem;
        width: 90%;
       
        //flex-direction: column;
         
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
        @include m.telefono{
          
          flex-direction: column;
          
        }
        @include m.tablet{
          flex-direction:column;
        }
       // background-color: blue;
       
        @include m.desktop{
          flex-direction: row;
            margin: 3rem 4rem;
        }
    }
    &-web-informativa,&-web-tinendaVirtual,
    &-web-aulaVirtual{
     

      margin: 2rem  auto;
      width: 80%;
      transition: 0.3s;


      @include m.tablet{

        width: 70%;
      }
      @include m.desktop{
        width: 27%;
        
      }
      &:hover{
        cursor: pointer;
        @include m.desktop{
         
          margin-top: -10px;
        } 
      
      }
      
        h3{
          padding: 2.6rem;
          background: rgb(15, 8, 134);
          background: linear-gradient(180deg, rgba(3, 242, 255, 0.614) 0%, rgba(9, 108, 121, 0.623) 35%, rgba(0,212,255,0.3897934173669467) 100%);
          border-radius: 20px 20px 0  0 ;
          margin: 0;
          font-size: 1.9rem;
          @include m.telefono{
           // padding: 1.6rem;
            font-size: 3.3rem;
                     
          }
          @include m.tablet{
           // padding: 1.6rem;
            font-size: 4.1rem;
          }
        }
        ul{
          background-color: #ffffffb2;
          margin: 0;
          padding: 2rem 1.5rem ;
          border-radius:0  0 20px 20px;
        }
        li{
          text-decoration: none;
          list-style:none;
          text-align: left;
          padding: 0.5rem 0;
          font-size: 1.6rem;
        }
    }
}
@keyframes moveUp {
  from {top: 0px;}
  to {top: -10px;}
}